.row
  - @photo_albums.each do |album|
    .span.thumbnail
      = link_to image_tag(album.image.thumb('280x180#').url), channel_photo_album_photos_url(@channel, album), :title => album.title
      .caption
        %h5= album.title
