- if @channel.twitter_id.present?
  .span
    %a.twitter-follow-button{"data-show-count" => "false", "data-show-screen-name" => "false", :href => "https://twitter.com/#{@channel.twitter_id}", :target => "_blank"} Follow
- if @channel.facebook_page.present?
  .span
    .fb-like{"data-font" => "arial", "data-href" => "http://facebook.com/#{@channel.facebook_page}", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50"}
 - if @channel.google_plus_page.present?     
  .span
    .g-plusone{"data-href" => "https://plus.google.com/109799687634302877687", "data-size" => "medium"}

= javascript_include_tag 'frontend/plugins/twitter', 'https://apis.google.com/js/plusone.js'
