- title 'Mark Collie Altimarc Coming Soon Video'

%video#mark-collie-coming-soon-replay.video-js.vjs-default-skin{"data-setup" => {}, :controls => "", :height => "551", :poster => "http://altimarc.s3.amazonaws.com/videos/randy-owen-altimarc-coming-soon.jpg", "preload" => "auto", :width => "980"}
  %source{:src => "http://altimarc.s3.amazonaws.com/videos/mark-collie-altimarc-coming-soon.mp4", :type => "video/mp4"}
  -# %source{:src => "http://altimarc.s3.amazonaws.com/videos/coming-soon/randy-owen-altimarc-coming-soon.webm", :type => "video/webm"}
  -# %source{:src => "http://altimarc.s3.amazonaws.com/videos/coming-soon/randy-owen-altimarc-coming-soon.ogv", :type => "video/ogg"}

= javascript_include_tag "channels"
