= image_tag @channel.banner_image.url if @channel.banner_image_uid

= render "shared/channel_menu"

#channel{:style => "margin: 20px 0 0;"}
  .span9
    %h1= @channel.name

    %p= @channel.description
    
