= image_tag @channel.banner_image.url if @channel.banner_image_uid

#channel{:style => "margin: 20px 0 0;"}
  .span9
    %h1= @channel.name

    %p= @channel.description
  .span3
    social media here
    Facebook:  https://www.facebook.com/markcollieofficial
    Twitter:  https://twitter.com/MarkCollie2
    Reverbnation:  http://www.reverbnation.com/markcollieofficial
