:css
  ol.channel_help {
    margin-top: 20px;
  }
  ol.channel_help li {
    font-weight: bold;
    font-size: 15px;
  }
  ol.channel_help p {
    margin-bottom: 20px;
    padding: 10px 0;
  }

%h1 Channel Help

%h3 FAQ's
%ol.channel_help
  %li What are the acceptable lengths of video clips?
  %p The free video clips that appear as an incentive to potential subscribers should be up to 3 minutes in length.   The post subscription channel full length video can be as long as you like but keep in mind that short, well produced videos  will be more compelling than a 30 minute under-produced video.   Think of your own viewing and user experiences when assembling long- form video.   It may be best to edit into shorter segments and airing as channel viewership declines.
  %li Why do I need to provide two video clips and upload twice?
  %p This is the way the system is designed but in the not too distant future, you will be able to edit the same video (and audio) into the proper destinations with one upload.
  %li How long should a song preview be?
  %p The free audio clips that appear as an incentive for purchase should be no more than :45 seconds in length.   When uploading the song, try to upload the most memorable part of the song which is the chorus or “hook”.   Don’t simply provide the first :45 seconds unless of course this is the most memorable part of the song.
  %li Can I assign a helper to assist in managing the CMS?
  %p Yes, please email lance@altimarc.com for admin privileges and passwords for your particular area of content.
  %li What format should video be presented?
  %p Do I need to embed a commercial into the uploaded video?  No, the system will auto-load all future commerce surrounding video and audio.
  %li How do I track unique users and measure audience response to my channel?
  %p Lance, you may want to suggest that we’ll provide data and weekly direction upon launching each channel. It will work like a network and affiliate.
  %li What is a channel master?
  %p The main person Altimarc will contact with respect to channel content and other business.   The channel master is the one who will oversee their individual channel.
  %li How can I make my channel more compelling?
  %p Altimarc will work with you to suggest creating the right content.
  %li My channel looks plain and boring. Can I re-design?
  %p Yes and we encourage you to do so.   Altimarc encourages creative teams to suggest lively, vivid backgrounds that will appeal to the target audience.
  %li Are there plans to create a mobile platform?
  %p Yes! Once we successfully launch the web site, our design team will move to the next phase of our new business which will include an app.   Completion date:  Q4, 2012.
  %li How do we help create unique prize giveaways?
  %p Contact an altimarc executive immediately as these unique prize opportunities with artists are a big part of our business.


