.row-fluid
  .span12
    .box.grad_colour_dark_blue
      %h2.box_head.round_top #{@channel.name} Music Albums
      %a.settings.box_button_3{:href => "#", :title => "config"}  
      %a.toggle.box_button_2{:href => "#", :title => "toggle"}  
      %a.destroy.box_button_1{:href => "#", :title => "close"}  
      .toggle_container
        .block.box_content.round_bottom.padding_20
          %table.table.table-striped
            %thead
              %tr
                %th Photo
                %th Title
                %th
                %th
            %tbody
              - @albums.each do |album|
                %tr
                  %td
                    - if album.image_uid
                      = link_to image_tag(album.image.thumb('50x50#').url), admin_channel_album_songs_path(@channel, album)
                  %td= link_to album.title, admin_channel_album_songs_path(@channel, album)
                  %td
                    %a.btn{:href => edit_admin_channel_album_path(@channel, album)}
                      %i.icon-pencil
                      Edit
                    %a.btn.btn-danger{:href => admin_channel_album_path(@channel, album), :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?')}
                      %i.icon-trash.icon-white
                      Destroy
          .form-actions
            %a.btn.btn-primary{:href => new_admin_channel_album_path}
              %i.icon-plus-sign.icon-white
              New Album
            or
            = link_to 'Go Back', url_for(:back), :class => 'btn'
