%table.table.table-striped
  %thead
    %tr
      %th Photo
      %th Title
      %th
      %th
  %tbody
    - @albums.each do |album|
      %tr
        %td
          - if album.image_uid
            = link_to image_tag(album.image.thumb('50x50#').url), admin_channel_album_songs_path(@channel, album)
        %td= link_to album.title, admin_channel_album_songs_path(@channel, album)
        %td
          %a.btn{:href => edit_admin_channel_album_path(@channel, album)}
            %i.icon-pencil
            Edit
          %a.btn.btn-danger{:href => admin_channel_album_path(@channel, album), :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?')}
            %i.icon-trash.icon-white
            Destroy
.form-actions
  %a.btn.btn-primary{:href => new_admin_channel_album_path}
    %i.icon-plus-sign.icon-white
    New Album
  or
  = link_to 'Go Back', url_for(:back), :class => 'btn'
