= @vault_content.inspect

/ %table.table.table-striped
/   %thead
/     %tr
/       %th Image
/       %th Title
/       %th
/       %th
/       %th
/   %tbody
/     - @vaults.each do |vault|
/       %tr
/         %td
/         %td vault.title
/         %td
/           %a.btn{:href => edit_admin_channel_vault_path(@channel, vault)}
/             %i.icon-pencil
/             Edit
/           %a.btn.btn-danger{:href => admin_channel_vault_path(@channel, vault), :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?')}
/             %i.icon-trash.icon-white
/             Destroy
/ 
/ .form-actions
/   %a.btn.btn-primary{:href => new_admin_channel_vault_path}
/     %i.icon-plus-sign.icon-white
/     New Vault
/   or
/   = link_to 'Go Back', url_for(:back), :class => 'btn'

