!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Altimarc.com - Registation Confirmation
    :css
      strong{
      	font-variant: small-caps;
      	text-transform: lowercase;
      	color:#949494;
      }
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :style => "margin: 0px; background-color: #ededed; font-family: Helvetica, Arial, sans-serif;", :topmargin => "0"}
    / 100% body table
    %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;", :width => "100%"}
      %tr{:style => "margin: 0; padding: 0; border: 0;"}
        %td{:align => "center", :style => "margin: 0; padding: 0; border: 0;"}
          / email container
          %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "805"}
            %tr{:height => "76", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "102"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "601"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "30", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "46"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "508"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "47"}
                  %tr{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:height => "50", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "18", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "102"}
            %tr{:height => "67", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#B9B9B9", :style => "border: 0; padding: 0; color: #f9f9f9; margin: 0; background: #B9B9B9 url(images/header.jpg) no-repeat;", :width => "601"}
                %div{:style => "height:67px;"}
                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                    %tr{:style => "margin: 0; padding: 0; border: 0;"}
                      %td{:style => "margin: 0; padding: 0; border: 0;", :width => "452"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                          %tr{:height => "55", :style => "margin: 0; padding: 0; border: 0;"}
                            %td{:style => "margin: 0; padding: 0; border: 0;", :width => "30"}
                            %td{:align => "left", :style => "margin: 0; padding: 0; border: 0;", :width => "422"}
                              %h1{:style => "padding: 13px 0 0 0; margin: 0; font-size: 38px; font-weight: bold; border: 0; color:#f9f9f9; font:Helvetica; font-family:Helvetica, sans-serif"}
                                Altimarc.com
                          %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                            %td{:style => "margin: 0; padding: 0; border: 0;"}
                            %td{:style => "margin: 0; padding: 0; border: 0;"}
                      %td{:style => "margin: 0; padding: 0; border: 0;", :width => "150"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                          %tr
                            %td{:valign => "top"}
                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                %tr
                                  %td{:height => "34"}
                              %p{:style => "padding: 0; font-size: 10px; font-family:Helvetica, Arial, sans-serif; text-transform: uppercase; border: 0; margin: 0; color:#f9f9f9;"}
                                %currentmonthname
                                  %currentyear
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:style => "padding: 0; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; border: 0; color: #8e8e8e; margin: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#E4E4E4", :style => "padding: 0; border: 0; margin: 0; background: #E4E4E4;", :width => "601"}
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "20", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "32"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "32"}
                  %tr{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:align => "left", :style => "margin: 0; padding: 0; border: 0; color:#8E8E8E; font-family: Helvetica, Arial, sans-serif; font-size:14px; line-height:21px;"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                        %tr{:height => "50", :style => "margin: 0; padding: 0; border: 0;"}
                          %td{:style => "margin: 0; padding: 0; border: 0;", :width => "576"}
                            %h2{:style => "font-size: 24px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif"}
                              Coming Soon!
                        %tr{:style => "margin: 0; padding: 0; border: 0;"}
                          %td{:colspan => "2", :style => "margin: 0; padding: 0; border: 0;"}
                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"}
                              You'll have a chance to view some exciting prize opportunities including one of a kind experiences with your favorite
                              = link_to "altimarc.com.", "http://altimarc.com"
                              stars.  Live concerts, backstage events and chances to be up close and personal with some of your favorites celebrities.  
                              We're coming up with prizes that many all the money in the world can't buy but you'll have a chance at some unique, once in a lifetime experiences.  
                              Coming soon to 
                              = link_to "altimarc.com!", "http://altimarc.com"
                  %tr{:height => "25", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:height => "69", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#c6c6c6", :style => "padding: 0; border: 0; margin: 0; background: #c6c6c6;", :width => "601"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding: 0; border: 0; margin: 0;", :width => "601"}
                  %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "85"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "85"}
                  %tr{:height => "40", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:align => "center", :style => "padding: 0; font-size: 12px; line-height: 22px; border: 0; color: #eeeeee; margin: 0; font-family:Helvetica,Arial,sans-serif"}
                      %p &copy; 2012 Altimarc, LLC. All rights reserved.
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:height => "90", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "601"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;"}
