#col0.span4.column
  #box_0.box.grad_colour_dark_blue
    %h2.box_head.round_top Facebook Monthly Statistics
    %a.settings.box_button_3{:href => "#", :title => "config"}  
    %a.toggle.box_button_2{:href => "#", :title => "toggle"}  
    %a.destroy.box_button_1{:href => "#", :title => "close"}  
    .toggle_container
      .block.box_content.round_bottom
        %ul.statistics
          %li
            %a{:href => "#"}
              %i.icon-arrow-up
              %span.green 100
              Likes
          %li
            %a{:href => "#"}
              %i.icon-arrow-down
              %span.red 12
              Friends of Fans
          %li
            %a{:href => "#"}
              %i.icon-minus
              %span.blue 33
              People Talking About This
          %li
            %a{:href => "#"}
              %i.icon-fire
              %span.yellow 400
              Weekly Total Reach