.box
  .inside
    %h2 Channels
    %p Edit Channels here.
    %p= link_to "Channels", admin_channels_path, :class => "btn"

/ .box
/   .inside
/     %h2 Giveaways
/     %p Edit Giveaways here.
/     %p= link_to "Giveaways", "#", :class => "btn"
/ 
/ .box.last
/   .inside
/     %h2 Games
/     %p Edit Games here.
/     %p= link_to "Games", "#", :class => "btn"
/ 
/ .box
/   .inside
/     %h2 Ads
/     %p Edit Ads here.
/     %p= link_to "Ads", "#", :class => "btn"
/ 
/ .box
/   .inside
/     %h2 Reporting
/     %p Get Reporting stats here.
/     %p= link_to "Reporting", "#", :class => "btn"

.box.last
  .inside
    %h2 Users
    %p Edit Users here.
    %p= link_to "View details", admin_users_path, :class => "btn"

