.row-fluid
  .span4.box
    %h2 Channels
    %p Edit Channels here.
    %p= link_to "View details", admin_channels_path, :class => "btn"
  .span4.box
    %h2 Users
    %p Edit Users here.
    %p= link_to "View details", admin_channels_path, :class => "btn"

