!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Altimarc.com - Registation Confirmation
    :css
      strong{
      	font-variant: small-caps;
      	text-transform: lowercase;
      	color:#949494;
      }
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :style => "margin: 0px; background-color: #ededed; font-family: Helvetica, Arial, sans-serif;", :topmargin => "0"}
    / 100% body table
    %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;", :width => "100%"}
      %tr{:style => "margin: 0; padding: 0; border: 0;"}
        %td{:align => "center", :style => "margin: 0; padding: 0; border: 0;"}
          / email container
          %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "805"}
            %tr{:height => "76", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "102"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "601"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "30", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "46"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "508"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "47"}
                  %tr{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:height => "50", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "18", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "102"}
            %tr{:height => "67", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#B9B9B9", :style => "border: 0; padding: 0; color: #f9f9f9; margin: 0; background: #B9B9B9 url(images/header.jpg) no-repeat;", :width => "601"}
                %div{:style => "height:67px;"}
                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                    %tr{:style => "margin: 0; padding: 0; border: 0;"}
                      %td{:style => "margin: 0; padding: 0; border: 0;", :width => "452"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                          %tr{:height => "55", :style => "margin: 0; padding: 0; border: 0;"}
                            %td{:style => "margin: 0; padding: 0; border: 0;", :width => "30"}
                            %td{:align => "left", :style => "margin: 0; padding: 0; border: 0;", :width => "422"}
                              %h1{:style => "padding: 13px 0 0 0; margin: 0; font-size: 38px; font-weight: bold; border: 0; color:#f9f9f9; font:Helvetica; font-family:Helvetica, sans-serif"}
                                Altimarc.com
                          %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                            %td{:style => "margin: 0; padding: 0; border: 0;"}
                            %td{:style => "margin: 0; padding: 0; border: 0;"}
                      %td{:style => "margin: 0; padding: 0; border: 0;", :width => "150"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                          %tr
                            %td{:valign => "top"}
                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                %tr
                                  %td{:height => "34"}
                              %p{:style => "padding: 0; font-size: 10px; font-family:Helvetica, Arial, sans-serif; text-transform: uppercase; border: 0; margin: 0; color:#f9f9f9;"}
                                %currentmonthname
                                  %currentyear
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:style => "padding: 0; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; border: 0; color: #8e8e8e; margin: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#E4E4E4", :style => "padding: 0; border: 0; margin: 0; background: #E4E4E4;", :width => "601"}
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "20", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "32"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "32"}
                  %tr{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:align => "left", :style => "margin: 0; padding: 0; border: 0; color:#8E8E8E; font-family: Helvetica, Arial, sans-serif; font-size:14px; line-height:21px;"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                        %tr{:height => "50", :style => "margin: 0; padding: 0; border: 0;"}
                          %td{:style => "margin: 0; padding: 0; border: 0;", :width => "576"}
                            %h2{:style => "font-size: 24px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif"}
                              Thank you for subscribing to altimarc.com.
                        %tr{:style => "margin: 0; padding: 0; border: 0;"}
                          %td{:colspan => "2", :style => "margin: 0; padding: 0; border: 0;"}

                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"}
                              I'm proud to represent a new kind of entertainment destination being built for folks like you who want to enjoy music and entertainment in a special way.   Now that you've joined, please "pardon our dust" as we continue to construct some exciting new ways to be entertained using the most up to date technology.
                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"}
                              Right now, you have access to brand new, just released material from my latest album, behind the scenes video of my family and me on the farm, exclusive footage of how a song is created, written and performed and on demand concert events.  Plus, some rare, never before seen footage of Alabama concerts that I'll know you'll enjoy.
                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"}
                              In the near future, you'll have a chance to participate in finding the next new young country stars of tomorrow as I help our team bring to you exclusive performances from the stars of tomorrow.  You can even cast your vote to help them achieve their once in a lifetime dreams.  
                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"}
                              So, whether it's killing some time watching a new video from your favorite performers or making dreams come true for tomorrow's superstars, 
                              = link_to "altimarc.com.", "http://altimarc.com"
                              is happy you're coming along for a fun ride.  Check in often as we will have some cool prizes for you to win - things that all the money in the world can't buy but we're bringing you the chance experience some things up close and personal.

                  %tr{:height => "25", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:height => "69", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#c6c6c6", :style => "padding: 0; border: 0; margin: 0; background: #c6c6c6;", :width => "601"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding: 0; border: 0; margin: 0;", :width => "601"}
                  %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "85"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "85"}
                  %tr{:height => "40", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:align => "center", :style => "padding: 0; font-size: 12px; line-height: 22px; border: 0; color: #eeeeee; margin: 0; font-family:Helvetica,Arial,sans-serif"}
                      %p &copy; 2012 Altimarc, LLC. All rights reserved.
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:height => "90", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;", :width => "601"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #ffffff;"}
