.row-fluid
  .span12.shortcut
    %a.btn.btn-shortcut{:href => admin_root_url(:subdomain => "www")}
      = image_tag('admin/icons/grey/Home.png', :alt => "Dashboard")
      Dashboard
      %span.label.label-success 9
    %a.popover_shortcut_on.btn.btn-shortcut{"data-content" => "<a href=\"#\" >Comment By Member</a><p>This is a comment message from a member in your channel about a post or video... etc.</p><hr><a href=\"#\" >Comment By Member</a><p>This is a comment message from a member in your channel about a post or video... etc.</p><hr><a href=\"#\" >Comment By Member</a><p>This is a comment message from a member in your channel about a post or video... etc.</p><hr><a href=\"#\" >Comment By Member</a><p>This is a comment message from a member in your channel about a post or video... etc.</p><hr><a href=\"#\" >Comment By Member</a><p>This is a comment message from a member in your channel about a post or video... etc.</p>", "data-original-title" => "New Comments", :href => "#", :rel => "popover"}
      = image_tag('admin/icons/grey/speech_bubbles.png', :alt => "Comments")
      Comments
      %span.label.label-warning 9
    - if current_user.admin?
      %a.btn.btn-shortcut{:href => new_admin_channel_url(:subdomain => "www")}
        = image_tag('admin/icons/grey/Television.png', :alt => "Graph")
        +Channel
      
    / %a.stat-column{:href => "#"}
    /   %span.number 452
    /   %span Members
    / %a.stat-column{:href => "#"}
    /   %span.number $2,512
    /   %span Revenue
    / %a.stat-column{:href => "#"}
    /   %span.number 348
    /   %span Subscribers