.plan-container
  .plan
    .plan-header
      .plan-title
        Plan 1
      / /plan-title
      .plan-price
        %span.note> $
        6.95
        %span.term Per Month
      / /plan-price
    / /plan-header
    .plan-features
      %ul
        %li
          %strong The weekly "Alive at Brushy Mountain" web series
        %li
          %strong Monthly video releases from Brushy Mountain featuring originally written material by Mark Collie
        %li
          %strong Special behind the scenes footage of the making of Alive at Brushy Mountain (coming soon!)
        %li
          %strong Access to upcoming originally created Altimarc content including the soon to debut Randy Owen channel!
        %li
          %strong Special chances to win concert tickets and access to Altimarc artists and events
    .plan-actions
      %a#subscribe.btn.btn-success{:href => "javascript:;", "data-plan" => "695"} Start my membership
