.plan-container
  .plan
    .plan-header
      .plan-title
        Basic
      / /plan-title
      .plan-price
        %span.note> $
        6.95
        %span.term Per Month
      / /plan-price
    / /plan-header
    .plan-features
      %ul
        %li
          %strong -
        %li
          %strong -
        %li
          %strong -
        %li
          %strong -
        %li
          %strong -
    .plan-actions
      %a.btn{:href => "javascript:;"} Subscibe
