.plan-container
  .plan.red
    .plan-header
      .plan-title
        Plan 4 (Best Offer)
      / /plan-title
      .plan-price
        %span.note> $
        24.95
        %span.term One Time Fee
      / /plan-price
    / /plan-header
    .plan-features
      %ul
        %li
          %strong One month of Altimarc free
        %li
          %strong
            The "Alive at Brushy Mountain' CD
        %li
          %strong
            The one of a kind Alive at Brushy Mountain T- shirt
        %li
          %strong
            For the true audiophile, a vinyl copy of the "Alive at Brushy Mountain" album!
        %li
          %strong 
            $6.95 a Month starting on
            %br
            = @trail_end_time.strftime("%m-%d-%y")
    / /plan-featuress
    .plan-actions
      %a#subscribe.btn.btn-success{:href => "javascript:;", "data-plan" => "2495"} Start my membership

