.plan-container
  .plan.yellow
    .plan-header
      .plan-title
        Plan 2
      / /plan-title
      .plan-price
        %span.note> $
        11.95
        %span.term One Time Fee
      / /plan-price
    / /plan-header
    .plan-features
      %ul
        %li
          %strong One month of Altimarc free
        %li
          %strong
            The "Alive at Brushy Mountain' CD
        %li
          %strong -
        %li
          %strong -
        %li
          %strong 
            $6.95 a Month starting on
            %br
            = @trail_end_time.strftime("%m-%d-%y")
    / /plan-features
    .plan-actions
      %a#subscribe.btn.btn-success{:href => "javascript:;", "data-plan" => "1195"} Start my membership


