.plan-container
  .plan.orange
    .plan-header
      .plan-title
        Plan 3
      / /plan-title
      .plan-price
        %span.note> $
        19.95
        %span.term Today
      / /plan-price
    / /plan-header
    .plan-features
      %ul
        %li
          %strong 1 Month Free
          %li
            %strong 
              ALive at Brushy 
              %br
              Mountain Vinyl
          %li
            %strong 
              ALive at Brushy
              %br
              Mountain T-shirt
          %li
            %strong -
          %li
            %strong $6.95 a Month starting on
    .plan-actions
      %a.btn{:href => "javascript:;"} Subscribe

