=javascript_include_tag "https://js.stripe.com/v1/", "frontend/registrations"

:css
  #subscribe h3 {
    background: #f0f1e8;
    color: black;
    padding: 10px;
    border-bottom: #d5d5d5 1px solid;
  }
  #subscribe {
    background: white;
    margin: 100px 0;
    -moz-box-shadow: 5px 8px 5px #888;
    -webkit-box-shadow: 5px 8px 5px #888;
    box-shadow: 5px 8px 5px #888;
  }
  #subscribe #form {
    margin-left: 20px;
    margin-right: -20px;
  }
  .info {
    background: #FFC;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .info p {
    margin: 15px 20px;
    line-height: 1.3em;
  }
  .coupon_link {
    padding: 20px 0;
  }

.row-fluid{:style => 'margin-top: 20px;'}
  .span12
    .widget
      .widget-header
        %i.icon-th-large
        %h3 Your Options
      .row-fluid
        .widget-content
          .span3
            = render 'basic'
          .span3
            = render 'starter'
          .span3
            = render 'vinyle'
          .span3
            = render 'everything'
      .widget-content
        .pricing-plans.plans-4

