- javascript 'frontend/plugins/html5video'

#video{:style => 'background: #0c0c0c;'}
  %video#player_a.projekktor{:controls => "", :height => "385", :poster => "/assets/intro.png", :title => "this is Projekktor", :width => "640", :style => "margin: 0 auto;"}
    - @video.sources.each do |source|
      %source{:src => source}

/ = @video.title
/ = @video.description


:javascript
  $(document).ready(function() {
      projekktor('#player_a');
  });
