#coming_soon_modal.modal.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Coming soon to Altimarc!
  .modal-body
    .row
      .span#form
        %h3 We're working hard to launch this channel!
        %p For updates on the launch of this channel become a member today.
  .modal-footer
    %a#not_right_now_btn{"data-dismiss" => "modal"} Not right now
    %span or
    %a.btn.btn-primary.btn-large.become_a_member{href: "/subscribe"}
      %i.icon-ok.icon-white
      Become a member

