#player
  .container
    #controls
      %a#player_previous
        %span
      %a#player_play
        %span
      %a#player_next
        %span
    #cover-art
      = link_to image_tag("http://geo-media.beatport.com/items/imageCatalog/4000000/900000/20000/5000/400/10/4925417.jpg"), "#link-to-album", :title => "title here"
    #track-meta-data
      = link_to "Track name here", "#link-to-album", :title => "title here", :class => "trackName"
      = link_to "Artist name here", "#link-to-artist", :title => "artist name here", :class => "artist"
    %audio#track{:autobuffer => "yes"}
      %source{:src => "/assets/song.mp3", :type => "audio/mpeg"}
