.container
  .row
    #player
      #inside_player
        #cover-art.span
          = link_to image_tag(""), "javascript:;", :title => "title here"
        #track-meta-data
          %ul
            %li= link_to "Track name here", "#link-to-album", :title => "title here", :class => "trackName"
            %li.divider / 
            %li= link_to "Artist name here", "#link-to-artist", :title => "artist name here", :class => "artist"
        #jplayer.jp-player
