#no_facebook_signup.modal
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h2 Sign up
  .modal-body
    .row
      .span#form
        %p Sign up form info here...
        -#= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
          -#= f.error_notification

          -#= f.input :first_name, :class => "input-xlarge"
          -#= f.input :last_name
          -#= f.input :email, :required => true
          -#= f.input :password, :required => true
          -#= f.input :password_confirmation, :hint => '6 characters or longer.', :required => true

  .modal-footer
    %a.btn.btn-large{"data-dismiss" => "modal"} Cancel
    or
    -#= f.submit "Create my account", :class => 'btn btn-success btn-large', :id => 'create-my-account'
    %a.btn.btn-success.btn-large{"data-dismiss" => "modal"} Create my account
