:css
  #unpaid_members_music_modal .modal-footer a#not_right_now_btn {
    color: #b8b8b8;
    padding-right: 10px;
  }
  #unpaid_members_music_modal .modal-footer a#not_right_now_btn:hover {
    color: #474747;
  }
  #unpaid_members_music_modal .modal-footer span {
    padding-right: 10px;
    color: #b8b8b8;
  }


#unpaid_members_music_modal.modal.hide
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h2 Enjoy Altimarc!
  .modal-body
    .row
      .span#form
        %h3 As a member you will have access to: 
        %ul
          %li Full Music Streaming
          %li Full Video Streaming
          %li Members only Live Streaming Concerts
          %li Prizes
          %li Once in life time oppurtunities
        %strong Receive personalized emails informing you of live events, new videos, new music, latest news, and GIVEAWAYS!
        %br
        %br
        %p The first 2,500 users that become members of Altimarc will be sent tickets to a concert in 2013. (Don't tell anyone!)
        %br
        %em ***Also, these pop up messages will go away, and you will have access to full music listening, and full video watching.

  .modal-footer
    %a#not_right_now_btn{"data-dismiss" => "modal"} Not right now
    %span or
    %a.btn.btn-primary.btn-large.become_a_member
      %i.icon-ok.icon-white
      Become a member
