/ Whats New
.row
  .span12
    %ul.breadcrumb.entry-title
      %li.active What's New
    #whats_new.carousel.slide
      / Carousel items
      .carousel-inner
        .active.item
          %ul.thumbnails
            - (1..4).each do |i|
              %li.span3
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/260x180"}
                    .caption
                      %h5 Thumbnail label
                      %p Description truncated after so many characters. Probably 80 characters, but whatever you think looks best. Thanks.
                      %p
                        = link_with_icon("More", "#", "icon-circle-arrow-right icon-white", "btn btn-info pjax")

        .item
          %ul.thumbnails
            - (1..4).each do |i|
              %li.span3
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/260x180"}
                    .caption
                      %h5 Thumbnail label
                      %p Description truncated after so many characters. Probably 80 characters, but whatever you think looks best. Thanks.
                      %p                      
                        = link_with_icon("More", "#", "icon-circle-arrow-right icon-white", "btn btn-info pjax")

      / Carousel nav
      %a.carousel-control.left{"data-slide" => "prev", :href => "#whats_new"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#whats_new"} ›