.row
  .span12
    %blockquote
      %h3
        Mark Collie
        %small 
          It almost killed me, trying to keep this alive. I woke up thinking about this every day for the past 10 yeaars.
          %br
          = link_to "Peter Cooper On Music: Mark Collie’s prison project sees the light", "http://blogs.tennessean.com/tunein/2012/04/30/peter-cooper-on-music-mark-collies-prison-project-sees-the-light/", :target => "_blank"
