.row
  .span12
    %blockquote
      %h3
        Randy Owen
        %small I want to take this time to introduce you to an amazing new network called Altimarc. You will be able to have unprecedented access to me...and many more artists. Actually, you’ll have more access to entertainment of all kinds presented in a different way than you’ve ever seen before. Altimarc is taking entertainment to a new level. I hope you will all check it out and see for yourself what exciting things Altimarc has in store!