.row-fluid
  .span12
    %blockquote
      %h3
        Mark Collie
        %small 
          It almost killed me, trying to keep this alive. I woke up thinking about this every day for the past 10 years.
