%div{ :style => 'background: white; -moz-border-radius: 15px; border-radius: 15px; padding: 10px; margin: 0 auto; overflow: auto;' }
  %div{ :style => 'width: 460px; float: left; padding: 10px;' }
    = image_tag('logo.png')
    %p A new kind of entertainment destination.  Where you can access your favorite entertainers, sports figures  and cool games from your computer or mobile device.     Access to band rehearsals, backstage areas, green rooms and exclusive autograph signings where you can experience a brand new way of getting a digital autograph of famous celebrities!
    %p Plus, our design teams are developing awesome new games that will reward your skills with real life access to events that money can't buy:  dinners with celebrities, access to exclusive sporting events, front row VIP tickets to sold out concerts, backstage access where all the action really happens.   Yes, you will have a chance at winning cool prizes that puts you in the middle of it all -  direct access to things most of us never experience.   It' s OK with us if you tell your friends and family about Altimarc.
    %p Your membership allows you to debut exclusive, never before seen concert footage, exclusive world premiere music documentaries, scheduled live concerts, music downloads, on demand backstage moments and band rehearsals..plus, sneak peeks at the latest videos and new, just released music from tomorrow's superstars.
  %div{ :style => 'width: 380px; float: left; padding: 10px; margin: 115px 0 0 20px; background: #DEDDDD;  -moz-border-radius: 15px; border-radius: 15px;' }
    %p{ :style => 'text-align: center; color: white; background: black; padding: 5px; margin: 25px 10px;-moz-border-radius: 15px; border-radius: 15px;' } Invite only [closed beta] at this time.
    %form{:action => "https://madmimi.com/signups/subscribe/47685", :method => "post"}
      %fieldset
        %legend Sign Up
        .clearfix
          %label{:for => "signup_email"} Email
          .input
            %input#signup_email{:name => "signup[email]", :type => "text"}
        .actions
          .clearfix
            %input.button{:name => "commit", :type => "submit", :value => "Sign Up", :class => 'btn'}

  %div{ :style => 'clear: both; padding: 30px 40px; border-top: 1px dashed #eee' }
    %h2 Here's the Altimarc channel lineup:
    %h3 The Randy Owen Channel
    %p The legendary Randy Owen of Alabama takes you behind the scenes both in concert and in real life.   Concerts, backstage access, custom games and trips money can't buy.  Plus, some up close and personal access to Randy, his family and his down home Ft Payne, Alabama life.  All this plus scheduled live performances!
    %h3 Nashville New Music Now
    %p Country music's never been hotter and this channel will introduce you to music made by artists like Megan Mullins, Seth Hopkins and Ashton Sheppard.   Our New Music Now Channel gives you the opportunity to hear their music, learn their stories of life and meet them up close and personal in ways you never imagined. This is music made in America and played for the planet.
    %h3 Brushy Mountain Forever
    %p After 113 years, the state of Tennessee closed Brushy Mountain State Penitentiary in June of 2009.  But not before country music icon Mark Collie took a two year journey inside the walls of this legendary place.  While there, he learned the stories and spoke to most of the population housed there.  What emerged was music that many liken to the late Johnny Cash.  This is true Americana and the world now can access the music and an upcoming world premiere feature recorded live from the prison.  Experience all it here.


