.row-fluid
  .span12
    %h1.heading About Altimarc
.row-fluid
  .span4{:style => "padding: 20px 0;"}
    = image_tag('altimarc-press-logo.png', :style => 'padding: 0 0 0 20px;')    
  .span8{:style => "padding: 40px 0 200px;"}
    %p
      Founded in 2012, 
      %strong 
        Altimarc LLC provides unique content viewing opportunities of entertainers you know and love. 
      Plus, one-of-a-kind fan experiences with your favorite artists.  From music, to concerts to scheduled and on demand events, 
      altimarc.com’s collection of  exclusive content opportunities will provide “can’t miss” media consumption.
    %p
      Online and mobile content entertainment company 
      %strong
        offering high quality and robust video, audio and commerce from celebrity artists and performers.  
      Our content "channels" will feature webisodes, concerts, backstage access, album sales, tickets and chances to win unique prizes supplied by our 
      celebrity partners that will offer rare access to them and their concerts.  In addition, we've developing unique client marketing partnerships 
      utilizing our clients to achieve winning results.
    %p
      Altimarc is privately held and headquartered in Nashville, TN and Scottsdale, AZ USA.
