%h1 A new kind of entertainment destination.  
%br
%p 
  %strong  Where you can access your favorite entertainers, sports figures  and cool games from your computer or mobile device.
  Access to band rehearsals, backstage areas, green rooms and exclusive autograph signings where you can experience a brand new way of getting a digital autograph of famous celebrities!
%p Plus, our design teams are developing awesome new games that will reward your skills with real life access to events that money can't buy:  dinners with celebrities, access to exclusive sporting events, front row VIP tickets to sold out concerts, backstage access where all the action really happens.   Yes, you will have a chance at winning cool prizes that puts you in the middle of it all -  direct access to things most of us never experience.   It' s OK with us if you tell your friends and family about Altimarc.
%p Your membership allows you to debut exclusive, never before seen concert footage, exclusive world premiere music documentaries, scheduled live concerts, music downloads, on demand backstage moments and band rehearsals..plus, sneak peeks at the latest videos and new, just released music from tomorrow's superstars.

