.row
  .span12
    %h1.heading About Altimarc
.row
  .span6{:style => "padding: 20px 0;"}
    = image_tag('about-page-logo.png')
  .span6{:style => "padding: 40px 0 200px;"}
    %p
      Founded in 2012, 
      %strong 
        Altimarc LLC provides unique content viewing opportunities of entertainers you know and love. 
      Plus, one-of-a-kind fan experiences with your favorite artists.  From music, to concerts to scheduled and on demand events, 
      altimarc.com’s collection of  exclusive content opportunities will provide “can’t miss” media consumption.
    %br
    %p
      Altimarc is privately held and headquartered  Nashville, TN and Scottsdale, AZ USA.
