.content-border
  .row-fluid{:style => "padding: 20px 0;"}
    .span4
      = image_tag('altimarc-press-logo.png', :style => 'padding: 30px 0 0 20px;')    
    .span8
      .row-fluid
        .span12
          %h1.page-heading Altimarc for your business
      .row-fluid
        .span
          %p
            %strong
              Altimarc's unique content partnerships build relationships between people and brands.  
            Your business will seamlessly align with our content partners through sponsorships, endorsements and product placement. 
            Your business can align with the countless loyal fans of each of our partners who are waiting to hear about your business and products from their favorite artists!
        .span{:style => 'padding-bottom: 80px;'}
      .row-fluid
        .span12
          %h2.page-heading Online Advertising Solutions
      .row-fluid
        .span
          %p
            From brand awareness to product placement, altimarc.com can help you reach your target audience through innovative on line content. Plus, we have the added flexibility of incorporating most of our content partners into your message! 
            %strong
              Let us help deliver a message that is local, social and relevant.
        .span{:style => 'padding-bottom: 20px;'}
      .row-fluid
        .span6
          %h4 Contact us for more!
          .div{:style => 'margin: 20px 0 0;'}
            %strong East Coast Office
            %br
            = mail_to "NYCSales@altimarc.com"
          .div{:style => 'margin: 20px 0 0;'}
            %strong West Coast Office
            %br
            = mail_to "westcoastsales@altimarc.com"
