.row-fluid
  .span12
    %h1.heading Altimarc for your business
.row-fluid
  .span
    %p
      %strong
        When consumers visit altimarc.com,
      they’re focused on their favorite content from entertainers they know and love.
      They’re here for a reason and they recall your advertising message.
  .span{:style => 'padding-bottom: 80px;'}
.row-fluid
  .span12
    %h2.heading Online Advertising Solutions
.row-fluid
  .span
    %p
      From brand awareness to product placement, altimarc.com can help you reach your target audience through innovative on line content.
      Plus, we have the added flexibility of incorporating most of our content partners into your message!
      %strong
        Let us help deliver a message that is local, social and relevant.
  .span{:style => 'padding-bottom: 80px;'}
.row-fluid
  .span6
    %strong
      To get started, click here:
      = mail_to "jennifer@altimarc.com"
