.row
  .span12
    %ul.breadcrumb.entry-title
      %li.active Jobs
.row
  .span12
    %p
      So you love the digital entertainment industry. Good! 
      We’re building a unique, one of a kind business that combines creative content with state of the art delivery systems.  
      Our content will be distributed on multiple platforms including web, mobile apps and existing media.
    %p
      Click here to see current openings.  Check back often as we continue to staff up and expand.
