.row-fluid
  .span12
    %h1.heading Our Team
.row-fluid
  .span12
    %p Coming Soon - MOUSE OVER THE CHARACTERS TO MEET OUR TEAM!
    = image_tag('example-our-team.png')
    %p.pull-right
      WOULD YOU LIKE TO JOIN THE CLUB? CHECK OUT THE 
      = link_to "JOBS", jobs_url
      SECTION.
      
