.row
  .span12
    %ul.breadcrumb.entry-title
      %li.active Press
.row
  .span12
    %p
      All press and media inquires , please contact LR Marketing/Public Relations, Seattle, WA  USA
    %p
      = mail_to "laura@laurarieder.com"
