.content-border
  .row-fluid
    .span12
      %h1.page-heading Altimarc Refund Policy
  .row-fluid
    .span12
      %h3 Cancel after a month and you won’t be charged again.
      %p
        Once you cancel you won’t be charged again,
        %em but you are responsible for whatever charges have already been incurred for the current billing period.
        For example, if your billing cycle is on the 18th of every month, and you cancel on the 24th, you’ll still have to pay for the current month, but you won’t be charged again after that. In order to treat everyone equally, no exceptions will be made.
  .row-fluid
    .span12
      %h3 How do I cancel my account?
      %p You can cancel your account at any time by logging into your account and selecting the “Account” tab (usually found on the top menu bar - right side with your first name). Once you click the Account tab, click “Edit account” link, then click “Please cancel my account”.
