%table.table.table-striped
  %thead
    %tr
      %th Image
      %th Title
      %th
      %th
      %th
  %tbody
    - @posts.each do |post|
      %tr
        %td
        %td post.title
        %td
          %a.btn{:href => edit_admin_channel_post_path(@channel, post)}
            %i.icon-pencil
            Edit
          %a.btn.btn-danger{:href => admin_channel_post_path(@channel, post), :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?')}
            %i.icon-trash.icon-white
            Destroy

.form-actions
  %a.btn.btn-primary{:href => new_admin_channel_post_path}
    %i.icon-plus-sign.icon-white
    New post
  or
  = link_to 'Go Back', url_for(:back), :class => 'btn'

