- javascript 'admin/posts'
.row-fluid
  .span12
    .box.grad_colour_dark_blue
      %h2.box_head.round_top Photo Gallery
      %a.settings.box_button_3{:href => "#", :title => "config"}  
      %a.toggle.box_button_2{:href => "#", :title => "toggle"}  
      %a.destroy.box_button_1{:href => "#", :title => "close"}  
      .toggle_container
        .block.box_content.round_bottom.padding_20
          %header
            %h1 Add Post
            = render 'form'
