- title "Giveaways"
.content-wrapper
  .row-fluid
    .span12
      %h1.page-heading Current Giveaways
      %ul.thumbnails
        %li.span4
          .thumbnail
            = link_to image_tag('car-banner-icon.jpg'), car_url(:subdomain => 'www')
            .caption
              %h5 1965 CHEVROLET CHEVELLE
        %li.span4
          .thumbnail
            = link_to image_tag('tshirt-banner-icon.jpg'), tshirt_url(:subdomain => 'www')
            .caption
              %h5 Free Altimarc T-shirt

  .row-fluid
    .span12
      %h2.page-heading Past Giveaways
      %ul.thumbnails
        %li.span4
          .thumbnail
            = link_to image_tag('cma-banner-icon.png'), cma_url(:subdomain => 'www')
            .caption
              %h5 CMA Music Festival Nashville
        %li.span4
          .thumbnail
            = link_to image_tag('derby-banner-icon.png'), derby_url(:subdomain => 'www')
            .caption
              %h5 Kentucky Derby Giveaway
