.content-border
  = image_tag("altimarc-banner.png")
  .inside
    %h2{:style => "margin: 50px 0 150px 0;"}
      Check your email account for important information regarding your registeration for this contest, plus other exciting opportunities coming soon to
      = link_to "Altimarc.com", root_path
