.row
  .span12
    %ul.breadcrumb.entry-title
      %li.active Staff Favorite Music
    #staff_favorite_music.carousel.slide
      / Carousel items
      .carousel-inner
        .active.item
          %ul.thumbnails
            - (1..4).each do |i|
              %li.span3
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/260x180"}
                    .caption
                      %h5 Track Name
                      %p Artist
          

        .item
          %ul.thumbnails
            - (1..4).each do |i|
              %li.span3
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/260x180"}
                    .caption
                      %h5 Track Name
                      %p Artist          

      / Carousel nav
      %a.carousel-control.left{"data-slide" => "prev", :href => "#staff_favorite_music"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#staff_favorite_music"} ›