#first_time_vistor.modal
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Welcome to the new Altimarc! Here's how it works...
  .modal-body
    %p info here...
    
  .modal-footer
    %a.btn.btn-primary{:href => "#"} Get Started