- if user_signed_in?
  %meta{:content => "user connected", :name => "user_connected"}
  - if current_user.paid_member?
    %meta{:content => "paid member", :name => "paid_member"}
  - if current_user.admin?
    %meta{:content => "admin", :name => "admin"}
- else
  %meta{:content => "user_not_connected", :name => "user_not_connected"}
