.row-fluid
  .span12
    .box.grad_colour_dark_blue
      %h2.box_head.round_top Photo Gallery
      %a.settings.box_button_3{:href => "#", :title => "config"}  
      %a.toggle.box_button_2{:href => "#", :title => "toggle"}  
      %a.destroy.box_button_1{:href => "#", :title => "close"}  
      .toggle_container
        .block.box_content.round_bottom.padding_20
          %header
            %h1 Photo Albums
            %blockquote
              %p It features photo drag and drop support for creating albums.
            %p
              %a.btn.btn-primary{:href => new_admin_channel_photo_album_path} New Album
          %hr
            #gallery{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}
              / put images here
              %ul
                - @photo_albums.each do |photo_album|
                  %li
                    = link_to image_tag('admin/gallery/flowers/adfish_rose_thumb.jpg'), admin_channel_photo_album_path(@channel.id, photo_album.id)
                    %br
                    %span= photo_album.title