.row-fluid
  .span12
    %h1.heading Press
.row-fluid
  .span2
    = image_tag('laura-rieder-logo.jpg', :style => 'padding: 0 0 0 20px;')    
  .span10{:style => 'padding: 0 0 200px;'}
    %p
      %strong All press and media inquires
    Please Contact:
    %p
      LR Marketing/Public Relations
    %p
      Seattle, WA  USA
    %p
      = mail_to "laura@laurarieder.com"

