// *= require_self
// *= require bootstrap
// *= require_tree .

body
  background: #F2F3F3 !important

h1
  text-align: center

strong
  font-size: 22px !important

.actions
  background: none !important
  border: none !important

label
  font-size: 20px !important

a
  color: #999999 !important
  &:hover
    color: #404040 !important

#container
  background: #fff
  min-height: 1300px
  height: auto !important
  -moz-box-shadow: 0px 0px 5px #888
  -webkit-box-shadow: 0px 0px 5px #888
  box-shadow: 0px 0px 5px #888
  margin: 40px auto 0
  width: 980px !important
  header
    background: url("layout/header-bg.png") repeat-x
    height: 48px
    width: 100%
    img
      padding: 10px 0 0 10px
  .item
    clear: both
    width: 100%
    overflow: auto
    margin: 0 0 20px
    img
      float: left
      width: 300px
      -moz-box-shadow: 0px 0px 5px #888
      -webkit-box-shadow: 0px 0px 5px #888
      box-shadow: 0px 0px 5px #888
    p
      float: left
      width: 550px
      padding: 30px 0 0 50px

