// *= require_self
// *= require bootstrap
// *= require_tree .

body
  background: #282828 url(../../assets/bg.png) no-repeat top center !important

h1
  text-align: center

strong
  font-size: 22px !important

.actions
  background: none !important
  border: none !important

label
  font-size: 20px !important

a
  color: #404040 !important
  &:hover
    color: #ccc !important
