%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Banner Image
      %th
  %tbody
    - @channels.each do |channel|
      %tr
        %td= link_to channel.name, admin_channel_path(channel)
        %td= image_tag channel.banner_image.thumb('50x50#').url if channel.banner_image_uid
        %td
          %a.btn{:href => edit_admin_channel_path(channel)}
            %i.icon-pencil
            Edit
          %a.btn.btn-danger{:href => admin_channel_path(channel), :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?')}
            %i.icon-trash.icon-white
            Destroy

.form-actions
  %a.btn.btn-primary{:href => new_admin_channel_path}
    %i.icon-plus-sign.icon-white
    New Channel
  or
  = link_to 'Go Back', url_for(:back), :class => 'btn'
