<h1>Users</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
    <th><%= t("activerecord.attributes.admin_user.email", :default => t("activerecord.labels.email", :default => "Email")) %></th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
   <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.created_at %></td>
    <td>
      <%#= link_to "Show", admin_channel_path(channel) %>
      <%#= link_to "Edit", edit_admin_channel_path(channel) %>
      <%#= link_to "Destroy", admin_channel_path(channel), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

