-#%a.btn.btn-primary{:href => new_admin_user_path}
  -#%i.icon-plus-sign.icon-white
  -#New user

%table{:class=>"table table-striped"}
  %thead
    %tr
      %th= t("activerecord.attributes.admin_user.email", :default => t("activerecord.labels.email", :default => "Email"))
      %th Last Sign in at
      %th Sign in count
      %th Role
      %th
  %tbody
    - @users.each do |user|
      = render user

.form-actions
  %a.btn.btn-primary{:href => new_admin_user_path}
    %i.icon-plus-sign.icon-white
    New user
  or
  = link_to 'Go Back', url_for(:back), :class => 'btn'
